{% extends "index.html" %}


{% block userdetails %}

<br>
<br>
<br>

<div class="container-fluid py-5 ">
    <div class="container py-5">
        <form action="{% url 'checkout' %}" method="GET"> {% csrf_token %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                  
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Products</th>
                    <th scope="col"> Total Price</th>
                    <th scope="col"> purchased date</th>

                    <th scope="col"> Order status</th>
                    
                  </tr>
                </thead>
                <tbody>

                    {% include "messages.html" %}
                    {% for i in order  %}
                      
                    <tr>
                        <th scope="row p-5">
                            <div class="d-flex align-items-center">
                                <img src="{{i.product.product.image.url}}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                            </div>
                        </th>
                        <td>
                            <p class="mb-0 mt-4"><h5>{{i.product.product.name}}</h5></p>
                        </td>
                        <td>
                            <p class="mb-0 mt-4"><h5>{{i.product.product.price}} </h5>$</p>
                        </td>
                        <td>
                            <p class="mb-0 mt-4"><h5>{{i.created_date}} </h5>$</p>
                        </td>
                        <td>
                            <p class="mb-0 mt-4"><h5>{{i.orderstatus}} </h5></p>
                        </td>
                        <!-- <td>
                         
                        <input type="number" class="mb-0 mt-4 " style="width: 50px;"  name="qty">
                        </td> -->
                       
                        <td>
                            <button class="btn btn-md rounded-circle bg-light border mt-4" type="" >
                                <i class="text-danger"><a href="{% url 'cancelorder' i.id %}">cancel order</a></i>
                            </button>
                        </td>
                        {% if  i.orderstatus == "DELIVERED" %}
                          
                      
                        <td>
                            <button class="btn btn-md  bg-light border mt-4" type="" >
                                <i class="text-danger"><a href="{% url 'downloadInvoice' i.id %}">print invoice</a></i>
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    

                </tbody>

            </table>
            
        </div>

    </form>
        
       
                </div>
            </div>
        </div>
    </div>
</div>

  
{% endblock userdetails %}